*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vh;
/*	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);*/
    background-image: url(media/background_image/bg.jpg)
}

.player{
	position: absolute;
	width: 350px;
	background: #f1f3f4;

}

.player .imgbox{
	position: relative;
	width: 100%;
	height: 450px;

}

.player .imgbox img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;



}

/*:root {
	--background-image: url(media/background_image/bg.jpg);
	--music-themes-background-image: linear-gradient(
		90deg,
		#833ab4,
		#fd1d1d,
		#fcb045
	);
}
body {
	background-position: center;
	margin: 0px;
	font-family: "Segoe UI", Arial, sans-serif;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: white;
}
.navigation-bar {
	height: auto;
	width: auto;
	background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding-left: 5%;
	padding-right: 5%;
	transition: all ease-in-out 1s; 
}

.navigation-bar > div {
	display: inline-block;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.website-logo img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	animation-name: rotating;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.website-name h4 {
	color: rgb(80, 220, 255);
}

.title-combo > div {
	vertical-align: middle;
	display: inline-block;
}


.favs h4 a{
	color: greenyellow;
	font-family: Chandas;
	font-size: 1rem;

}
.favs h4 a:hover {
	color: white;
}


.search-bar {
	width: 20%;
	position: relative;
}

.search-bar input {
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	border-radius: 18px;
	border: none;
	padding: 5px;
	font-weight: 500;
	text-align: center;
	transition: all ease-in-out 0.1s;
}

.search-ico {
	color: rgba(0, 0, 0, 0.5);
}

.mic-ico {
	color: rgba(0, 0, 0, 0.5);
}

.search-bar > div:nth-child(1) {
	display: inline-block;
	position: absolute;
	width: min-content;
	left: 5%;
	top: 10%;
	transition: all ease-in-out 0.1s;
}

.search-bar > div:nth-child(3) {
	display: inline-block;
	position: absolute;
	width: min-content;
	right: 0%;
	top: 10%;
	transition: all ease-in-out 0.1s;
}

input:focus {
	outline: none;
}

@keyframes ringing_bell {
	0% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}

.notification-bell img {
	width: auto;
	height: 18px;
	animation-name: ringing_bell;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: 10s;
	position: first;
	margin-right: 5px;
}
.profile-picture img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
}*/